<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <!-- Mudblazor and Syncfusion Blazor CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="https://cdn.syncfusion.com/blazor/29.1.41/styles/material.css" rel="stylesheet" />
    <!-- Bootstrap and App Standard CSS -->
    <link rel="stylesheet" href="_content/SUNRISECMS.Shared/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/SUNRISECMS.Shared/app.css" />
    <link rel="stylesheet" href="SUNRISECMS.Web.styles.css" />
    <link rel="icon" type="image/png" href="_content/SUNRISECMS.Shared/favicon.png" />
    <HeadOutlet @rendermode="InteractiveAuto" />
</head>

<body>
    <Routes @rendermode="InteractiveAuto" />

    <!-- MudBlazor and Syncfusion Blazor Scripts -->
    <script src="https://cdn.syncfusion.com/blazor/29.1.41/syncfusion-blazor.min.js" type="text/javascript"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>

    <!-- Blazor Standard Script -->
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
